<app-header></app-header>

  <hr>

<div class="tabs-container">
  <div class="tabs">
    <button [routerLink]="'/general-page'">{{"ЗАГАЛЬНЕ" | transloco}}</button>
    <button [routerLink]="'/detail-page'">{{"ДЕТАЛІ" | transloco}}</button>
    <button [routerLink]="'/team-page'">{{"КОМАНДА" | transloco}}</button>
    <button [routerLink]="'/rewards-page'">{{"ВИНАГОРОДИ" | transloco}}</button>
    <button [routerLink]="'/requisites-page'">{{"РЕКВІЗИТИ" | transloco}}</button>
    <button [routerLink]="'/uploads-page'">{{"ВИКЛАСТИ" | transloco}}</button>
  </div>
</div>

<button class="fixed-button" (click)="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</button>

<div class="container">
  <img 
  *ngFor="let img of images; let i = index"
  [src]="activeIndex === i ? img.active : img.gray"
  alt="Image"
  class="image"
  [class.active]="activeIndex === i"
  (click)="onImageClick(img.link)">
</div>

  <div class="wrapper">
    <div class="main-container">
      <div class="left-block">
        <img [src]="projectData.MainPhotoUrl || 'assets/images/NoPhoto.jpg'" class="main-photo" />
        <img [src]="categoryPhoto || 'assets/images/LeftUpAngle.png'" class="top-left-photo" />
        <button class="edit-button" [routerLink]="'/general-page'">{{"Редагувати" | transloco}}</button>
      </div>
      
      <div class="right-block">
        <h2 class="title">{{projectData.Title | transloco}}</h2>

        <div class="progress-section">
          <div class="progress-labels">
            <span class="start-amount">0 {{"грн" | transloco}}</span>
            <span class="end-amount">{{projectData.CollectionAmount}} {{"грн" | transloco}}</span>
          </div>
          <div class="progress-bar3">
            <div class="progress-fill" style="width: 0%;"></div>
            
          
          </div>
          <div class="images-with-numbers-below-progress">
            <div class="image-item">
              <img src="assets/images/people.png" alt="Image 1" class="small-image" />
              <p class="number">{{teamList.length}}</p>
            </div>
            <div class="image-item">
              <img src="assets/images/comments.png" alt="Image 2" class="small-image" />
              <p class="number">{{projectData.CollectionDuration}}</p>
            </div>
            <div class="image-item">
              <img src="assets/images/money.png" alt="Image 3" class="small-image" />
              <p class="number">0</p>
            </div>
          </div>
        </div>

        

        <p class="collecting-text">{{"Збирає" | transloco}}:</p>
      
        <div class="participants">
          <div class="participant" *ngFor="let member of teamList">
            <img [src]="member.UrlPhoto" alt="Participant 1" class="participant-photo" />
            <p class="participant-name">{{member.name | transloco}}</p>
            <a [routerLink]="'/team-page'" class="edit-link2">{{"Редагувати" | transloco}}</a>
          </div>
        </div>
      </div>
      </div>
    </div>


    <div class="projects-wrapper">
      <div class="project-line">
        <span class="project-title">
          {{ "ПРО ПРОЄКТ" | transloco }}
        </span>
        <div class="yellow-line2"></div>
      </div>
    </div>
  

    <div class="project-container">
   <div class="project-section">
      
    <div class="project-description">
        <p style="font-weight: 600;">
          {{ projectData.ShortDescription ? (projectData.ShortDescription | transloco) : ('ㅤ' | transloco) }}
        </p>

        <div *ngFor="let item of detailsDescription">
          <h3>{{ item.TitleDetailedDescription }}</h3>
          <p>{{ item.DetailedDescription }}</p>
        </div>
      </div>
    

      <div class="project-images">
        <!-- Если есть фото -->
        <ng-container *ngIf="secondaryPhotos?.length > 0; else defaultPhoto">
          <div class="project-image-block" *ngFor="let photo of secondaryPhotos">
            <img [src]="photo" class="project-image" />
            <a class="edit-link2" [routerLink]="'/detail-page'">{{ "Редагувати" | transloco }}</a>
          </div>
        </ng-container>
      
        <!-- Если фото нет -->
        <ng-template #defaultPhoto>
          <div class="project-image-block">
            <img style="border: 1px solid rgb(204, 204, 204);" src="assets/images/NoPhoto.jpg" class="project-image" />
            <a class="edit-link2" [routerLink]="'/detail-page'">{{ "Редагувати" | transloco }}</a>
          </div>
        </ng-template>
      </div>
      

      <div class="uploads-container">
        <div class="left-section">
          <div class="budget-plan">
            <h3>{{"План бюджету проєкта" | transloco}}</h3>
            <div class="file-info">
              <textarea style="cursor: default; background: #F9F9F9;" readonly class="file-name">{{projectData.BudgetPlan}}</textarea>
              <button class="delete-btn" [routerLink]="'/general-page'">{{"Редагувати" | transloco}}</button>
            </div>
          </div>
    
        
          <div class="contacts">
            <h3>{{"Контакти" | transloco}}</h3>
            <div class="contact-item">
              <i class="icon phone-icon"></i>
              <span>{{projectData.Phone}}</span>
              <a href="#" [routerLink]="'/detail-page'" class="edit-link">{{"Редагувати" | transloco}}</a>
            </div>
            <div class="contact-item">
              <i class="icon address-icon"></i>
              <span>{{projectData.Address | transloco}}</span>
              <a href="#" [routerLink]="'/detail-page'" class="edit-link">{{"Редагувати" | transloco}}</a>
            </div>
          </div>
      
         
          <div class="email-section">
            <h3>{{"Електронна пошта" | transloco}}</h3>
            <div class="contact-item">
              <i class="icon email-icon"></i>
              <span>{{projectData.Email}}</span>
              <a href="#" class="edit-link" [routerLink]="'/detail-page'">{{"Редагувати" | transloco}}</a>
            </div>
          </div>
        </div>
      </div>
  
    
 



    <div class="rewards-container">
      <h3 class="section-title">{{"Подяка" | transloco}}</h3>
    
      <div class="rewards-list">
        <div class="reward-card" *ngFor="let reward of rewardsList">
         
          <div class="reward-image">
            <img [src]="reward.PhotoUrl || 'assets/images/NoPhoto.jpg'" alt="Reward Image">
          </div>
    
         
          <div class="reward-info">
            <h4 class="reward-price">{{"Від" | transloco}} {{ reward.Amount }} {{"грн" | transloco}}</h4>
    
            <div class="reward-details">
              <div class="detail">
                <span class="label">{{"Ліміт" | transloco}}</span>
                <span class="value">{{ reward.Limit }}</span>
              </div>
              <div class="detail">
                <span class="label">{{"Інвесторів" | transloco}}</span>
                <span class="value">0</span>
              </div>
            </div>
    
            <p class="reward-description">{{ reward.Description | transloco }}</p>
    
            <a href="#" [routerLink]="'/rewards-page'" class="edit-link">{{"Редагувати" | transloco}}</a>
          </div>
        </div>
      </div>
      </div> 

      <div class="form-buttons">
        <button class="btn btn-secondary" (click)="saveInfo()">{{"ЗБЕРЕГТИ ЗМІНИ" | transloco}}</button>
        <button class="btn btn-primary" (click)="submitProject()">{{"ВИКЛАСТИ" | transloco}}</button>
      </div>

      <div *ngIf="isPopupOpen" class="popup-window2" (click)="closePopup()">
        <div class="popup-content2" (click)="$event.stopPropagation()">
          
          <div class="popup-message2">
            <img src="assets/images/WhitePig.png" class="popup-image2" alt="Success">
            <p class="popup-text2">{{"Зміни у проєкті успішно збережено" | transloco}}</p>
          </div>
        </div>
      </div>
   </div>
  
<app-footer></app-footer>
  