<app-header></app-header>

  <hr>

  <div class="container">
    <img 
    *ngFor="let img of images; let i = index"
    [src]="activeIndex === i ? img.active : img.gray"
    alt="Image"
    class="image"
    [class.active]="activeIndex === i"
    (click)="onImageClick(img.link)">
  </div>

  <button class="fixed-button" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>

  <div class="seminar-container">

    <div class="breadcrumbs">
      <a [routerLink] = "'/'" style="cursor: pointer; text-decoration: none; color: inherit;">
      <span>{{"Головна" | transloco}}</span>  
      </a>
      &gt;
      <a [routerLink] = "'/support-page'" style="cursor: pointer; text-decoration: none; color: inherit;">
      <span>{{"Підтримка" | transloco}}</span>
      </a>
      &gt;
      <a [routerLink] = "'/seminars-vebinars-page'" style="cursor: pointer; text-decoration: none; color: inherit;">
        <span>{{"Семінари" | transloco}}</span>
      </a>
      &gt;
      <span>{{"Семінар" | transloco}}</span>
    </div>

    <div class="seminar-image">
      <img src="assets/images/Sobranie2.jpg" alt="Seminar Image" class="seminar-photo" />
      
      <div class="yellow-box">
        <div class="yellow-stats">
          <div class="stat">
            <div class="stat-number">5+</div>
            <div class="stat-label">{{ "Семінарів" | transloco }}</div>
          </div>
          <div class="stat">
            <div class="stat-number">{{"8К+" | transloco}}</div>
            <div class="stat-label">{{ "Переглядів" | transloco }}</div>
          </div>
          <div class="stat">
            <div class="stat-number">{{"3К+" | transloco}}</div>
            <div class="stat-label">{{ "Учасників" | transloco }}</div>
          </div>
        </div>
      </div>
      

      <div class="seminar-text-overlay">
        <p class="text1">{{"СТАРТАПИ" | transloco}}</p>
        <p class="text2">{{"Сторінка перед запуском: як почати жити, коли спонсори вже поруч" | transloco}}</p>
        <p class="text4">{{"Від залучення вашої аудиторії до перевірки вашого продукту та створення ексклюзивного раннього доступу, сторінка перед запуском може допомогти вам зміцнити ваш краудфандинговий успіх ще до того, як ваша кампанія запрацює." | transloco}}</p>
      </div>

      <button [routerLink]="'/marketing-form-page'" class="seminar-button">
        {{ "Взяти участь" | transloco }}
      </button>
    </div>
  </div>


  
  
  
  
 <div class="info-section">
    <p class="info-description">
        {{"Перегляньте запис вебінару  «Сторінка перед запуском: як вийти в прямому ефірі з спонсорами, які вже поруч», щоб дізнатися, як використовувати сторінку перед запуском Seed Flow." | transloco}} 
    </p>

    <p class="info-description">
        {{"Cтратег кампанії в Seed Flow розповість про численні переваги сторінки перед запуском, зокрема про те, як вона може допомогти вам згуртувати прихильників і досягти успіху. Крім того, ви дізнаєтеся, як Light Phone 2 використовував свою сторінку перед запуском, щоб зібрати електронні листи спонсорів і зібрати понад 1,6 мільйона." | transloco}}  
    </p>
    <p class="info-description">
        {{"Переглянувши запис вебінару, ви дізнаєтеся, як:" | transloco}}
    </p>

    <p class="info-description">
        {{"Створіть свій список розсилки. Дізнайтеся, як успішні кампанії, такі як Light Phone 2, використовували свою сторінку перед запуском, щоб зібрати сотні/тисячі електронних адрес, які перетворилися на реальні внески. Запуск сильний. Збирайте кошти та звертайтеся до людей завчасно, щоб ви могли жити з грошима в банку та спільнотою спонсорів." | transloco}} 
    </p>
</div>
  
  
  
  

   <div class="content-container">
        <div class="left-side">
          <img src="assets/images/ThreePersons.png" alt="Image on the left">
        </div>
        <div class="right-side">
          <h2 class="content-title">{{"Навіщо тобі цей семінар" | transloco}}</h2>
          <p class="content-text">{{"Ми не просто ділимося теоретичними знаннями – ми практики, які працюють над власними кампаніями та знають, як досягти успіху. Наші матеріали – це концентрат корисної інформації без «води», яка допоможе вам створити успішний проєкт і отримати фінансування. Долучайтеся до нашої спільноти та дізнавайтеся більше про світ краудфандингу! Разом ми зможемо більше!" | transloco}}</p>
        </div>
    </div>




  <div class="image-gallery">
    
      <div class="image-item second-image">
        <button [routerLink]="'/seminar-page'" class="action-button">
          {{"Завантажити запис" | transloco}}
        </button>
    
        <div class="action-box">
          <button class="green-button">{{"ВПОДОБАТИ" | transloco}}</button>
          <div class="social-wrapper">
            <img
              src="assets/images/socialMedia.png"
              alt="Іконка"
              class="icon-image"
              (click)="toggleDropdown2()"
            />
    
            <div *ngIf="showDropdown2" class="social-dropdown">
              <a href="https://www.facebook.com/profile.php?id=61573153085556" target="_blank">
                <img src="assets/images/facebook.png">
              </a>
              <a href="https://www.instagram.com/seedflow_itstep/" target="_blank">
                <img src="assets/images/Instagram.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="projects2-wrapper">
      <div class="projects2-line">
        <div class="line-highlight2"></div>
        <span class="projects2-label">{{"КОМЕНТАРІ" | transloco}}</span>
      </div>
    </div>

    <div class="comment-section-left">
      <label for="user-comment" class="comment-label-left">{{"Коментувати" | transloco}}</label>
      <textarea id="user-comment" class="comment-textarea-left" [(ngModel)]="commentText" maxlength="500" placeholder="{{'Почніть вводити коментар...' | transloco}}" ></textarea>
      <div class="character-count">
          <span>{{"Залишилось" | transloco}} {{ commentText.length }}</span>/500
        </div>
  
      <button class="submit-btn">{{"ЗБЕРЕГТИ" | transloco}}</button>
  </div>
  
  
  <div class="full-width-line"></div>

  <div class="comments-wrapper">
    <div class="comments-list">
      <div class="comment-card" *ngFor="let comment of comments; let i = index">
        <div class="comment-header">
          <div class="comment-image">
            <img [src]="comment.image" alt="User Image" class="profile-image" />
          </div>
          <div class="comment-info">
            <div class="comment-name">{{ comment.name | transloco }}</div>
          </div>
          <div class="comment-date">{{ comment.date | transloco }}</div> 
        </div>
        <div class="comment-text">"{{ comment.text | transloco }}"</div>
  
        <div class="comment-reply" (click)="onReplyClick(i)">{{"Відповісти" | transloco}}</div>
  
        
        <div class="reply-box" *ngIf="selectedReplyId === i">
          <textarea class="reply-input" placeholder='{{"Напишіть відповідь..." | transloco}}'></textarea>
          <button class="send-button">{{"Надіслати" | transloco}}</button>
        </div>
      </div>
    </div>
  </div> -->











  <div class="full-width-line"></div>



    <div class="text-container">
        <h1 class="title-text">{{"Приєднуйтесь до нашої спільноти" | transloco}}</h1>
        <p class="sub-text">{{"Ставайте учасником нашої спільноти" | transloco}}</p>
        <button class="action-btn">{{"Приєднатися" | transloco}}</button>
    </div>

<app-footer></app-footer>