<app-header></app-header>

  <hr>

  <div class="container">
    <img 
    *ngFor="let img of images; let i = index"
    [src]="activeIndex === i ? img.active : img.gray"
    alt="Image"
    class="image"
    [class.active]="activeIndex === i"
    (click)="onImageClick(img.link)">
  </div>

  <button class="fixed-button" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>


  <div class="policy-container">
    <p class="policy-label">{{"Правила використання файлів Cookie" | transloco}}</p>
    <h3 class="policy-title">{{"Правила використання файлів Cookie" | transloco}}</h3>
    <h4 class="title2">{{"Дата набуття чинності: 25.03.2025 рік" | transloco}}</h4>
    <h4 class="title2">{{"Вступ" | transloco}}</h4>
    <p class="policy-text">
        {{"Ця Політика використання файлів cookie пояснює, які файли cookie ми використовуємо на нашому веб-сайті [вкажіть URL вашого веб-сайту], як ми їх використовуємо, та які права ви маєте щодо управління ними." | transloco}}
        <br>
        <br>
        {{"Що таке файли cookie?" | transloco}}
    </p>
    <p class="policy-text">
        <strong><b style="font-size: larger;">{{"Файли cookie" | transloco}}</b></strong> — {{"це невеличкі текстові файли, які зберігаються на вашому пристрої (комп'ютері, планшеті, смартфоні) під час" | transloco}}<br>
        {{"відвідування веб-сайту. Вони дозволяють веб-сайту розпізнавати ваш пристрій і зберігати інформацію про ваші дії і переваги" | transloco}}<br> 
        {{"(такі як ім'я користувача, мова, розмір шрифта та інші налаштування) для покращення користувацького досвіду" | transloco}}.<br>
    </p>

    <h4 class="title2">{{"Які файли cookie ми використовуємо?" | transloco}}</h4>
    <p class="policy-text">
        {{"Ми використовуємо такі види файлів cookie" | transloco}}:<br><br>
        <span class="numbered-line">{{"1. Необхідні файли cookie: Ці файли cookie є необхідними для роботи нашого веб-сайту і не можуть бути вимкнені в наших системах. Вони зазвичай встановлюються тільки у відповідь на дії, які ви вжили, наприклад, заповнення форм." | transloco}}</span>
        <br>
        <br>
        <span class="numbered-line">{{"2. Файли cookie продуктивності: Ці файли cookie дозволяють нам підраховувати відвідуваність і джерела трафіку, щоб ми могли виміряти і вдосконалити працездатність нашого сайту." | transloco}}</span>
        <br>
        <br>
        <span class="numbered-line">{{"3. Файли cookie функціональності: Ці файли cookie дозволяють веб-сайту запам'ятовувати вибір, який ви робите (наприклад, ваше ім'я користувача, мову або регіон), для покращення вашого користувацького досвіду." | transloco}}</span>
        <br>
        <br>
        <span class="numbered-line">{{"4. Файли cookie реклами: Ці файли cookie можуть бути використані для того, щоб зробити рекламу більш привабливою для вас і більш цілеспрямованою. Вони також використовуються для обмеження кількості показів реклами та допомагають виміряти ефективність рекламних кампаній." | transloco}}</span><br>
    </p>
   

    <h4 class="title2">{{"Як ви можете керувати файлами cookie?" | transloco}}</h4>
    <p class="policy-text">
        {{"Ви можете налаштувати ваше браузерне програмне забезпечення для того, щоб відключити файли cookie або отримувати" | transloco}}<br> 
        {{"повідомлення про їх використання. Однак, будь ласка, зверніть увагу, що якщо ви вирішите вимкнути файли cookie, це може" | transloco}}<br>  
        {{"вплинути на функціональність нашого сайту та ваш користувацький досвід" | transloco}}.<br> 
    </p>

    <h4 class="title2">{{"Зміни до цієї Політики" | transloco}}</h4>
    <p class="policy-text">
       {{"Ми можемо час від часу оновлювати цю Політику використання файлів cookie. Усі зміни будуть опубліковані на цій сторінці з" | transloco}}<br>  
       {{"оновленою датою набуття чинності" | transloco}}.<br> 
    </p>

    <h4 class="title2">{{"Контактна інформація" | transloco}}</h4>
    <p class="policy-text">
        {{"Якщо у вас є питання щодо цієї Політики використання файлів cookie, будь ласка, зв'яжіться з нами за адресою" | transloco}}:<br><br>  
        seedflow&#64;gmail.com<br> 
        +380 (73) 123 45 67<br> 
        {{"вул.Майка Йогансена, 27, м. Харків, 61010, Україна" | transloco}}<br> 
    </p>

</div>

<app-footer></app-footer>

