<app-header></app-header>

 <hr>

  <div class="about-container">
    <div class="title">{{"ПРО НАС" | transloco}}</div>
    <div class="sub-title">{{"ЩО ТАКЕ SEEDFLOW?" | transloco}}</div>
    <div class="description">
     <span style="color: #247a60; font-weight: 500;">SeedFlow</span>  – {{"це інноваційна краудфандингова платформа, яка допомагає стартапам, підприємцям та творчим особистостям залучати фінансування для втілення своїх ідей." | transloco}}
    </div>
    <div class="image-container">
        <img src="assets/images/AboutUsPig.png" alt="SeedFlow" class="image" />
    </div>
      <button class="cta-button" [routerLink]="'/'">{{"Перейти до краудфандингу" | transloco}}</button>
  </div>
  


<div class="line-wrapper top-right">
    <div class="yellow-line"></div>
  </div>

  <div class="goal-container">
    <div class="goal-left">
      <img src="assets/images/AboutUsTree.png" alt="goal-image" class="goal-image" />
    </div>
    <div class="goal-right">
      <h2 class="goal-title">{{"ЦІЛЬ КОМПАНІЇ" | transloco}}</h2>
      <p class="goal-text">
        {{"Ми прагнемо створити прозорий, доступний і ефективний простір для співпраці креаторів, інвесторів та донаторів. Надаємо інноваційні інструменти для збору коштів, аналізу та просування, щоб кожен перспективний проєкт отримав шанс на втілення." | transloco}}
      </p>
    </div>
  </div>
  
  <div class="strategy-container">
    <div class="strategy-left">
      <h2 class="strategy-title">{{"СТРАТЕГІЯ КОМПАНІЇ" | transloco}}</h2>
      <p class="strategy-text">
        {{"Ми формуємо сильну спільноту, створюючи простір для взаємодії авторів проєктів, донаторів та експертів. Запускаємо форуми, вебінари та Q&A-сесії, щоб залучати нових користувачів і сприяти обміну знаннями. Вибудовуємо довіру через історії успіху та прозорі фінансові процеси, роблячи кожен крок відкритим і зрозумілим." | transloco}}
      </p>
    </div>
    <div class="strategy-right">
      <img src="assets/images/AboutUsBank.png" alt="strategy-image" class="strategy-image" />
    </div>
  </div>

<div class="team-container">
    <h2 class="team-title">{{"КОМАНДА SEEDFLOW" | transloco}}</h2>
    <p class="team-text">
      {{"Ми, команда Seedflow, створили цю платформу, щоб допомогти перспективним проєктам знайти підтримку. Ми прагнемо зробити краудфандинг простим, прозорим і доступним, об’єднуючи креаторів, донаторів та інвесторів для втілення великих ідей." | transloco}}
    </p>

    <div class="team-graphics">
      <img src="assets/images/TeamSeedFlow.jpg" alt="Наша команда" class="team-image" />
    </div>
    
  </div>

     <div class="line-wrapper top-left">
    <div class="yellow-line2"></div>
  </div>
  
  
   <div class="achievements-container">
    <h2 class="achievements-title">{{"НАШІ ДОСЯГНЕННЯ" | transloco}}</h2>
    <p class="achievements-text">
      {{"SeedFlow — це більше, ніж просто платформа. Це спільнота однодумців, які вірять у силу інновацій та підтримки. Ми допомагаємо ідеям знаходити ресурси, а інвесторам — перспективні можливості. Разом ми будуємо екосистему, де кожен має шанс на успіх. Ми пишаємося нашими результатами:" | transloco}}
    </p>
    </div>

    <div class="image-gallery-wrapper">
      <div class="image-gallery">
        <div class="image-item">
          <img src="assets/images/AboutUsPeople.png" alt="Достижение 1" class="image" />
          <p class="image-text">{{"325 471 користувачів вже приєдналися" | transloco}}</p>
        </div>
        <div class="image-item">
          <img src="assets/images/AboutUsCoin.png" alt="Достижение 2" class="image" />
          <p class="image-text">{{"514 успішно закритих зборів" | transloco}}</p>
        </div>
        <div class="image-item">
          <img src="assets/images/AboutUsSupport.png" alt="Достижение 3" class="image" />
          <p class="image-text">{{"4 457 інвесторів довірились нам" | transloco}}</p>
        </div>
        <div class="image-item">
          <img src="assets/images/AboutUsTrophy.png" alt="Достижение 4" class="image" />
          <p class="image-text">{{"Топ-10 постійних інвесторів" | transloco}}</p>
        </div>
      </div>
    </div>
    
  
   <div class="line-wrapper down-right">
      <div class="yellow-line3"></div>
    </div>
 
<app-footer></app-footer>