<app-header></app-header>

  <hr>


  <div class="registration-form">
    <div class="left-panel">
    </div>
    <div class="right-panel">         
      <form>
        <p class="txt1">{{"Щоб викласти проєкт, необхідно" | transloco}}</p>
        <br>
        <br>
        <p class="txt2">{{"бути зареєстрованим як" | transloco}}</p> 

      </form>

      <h2 class="author" id="author">{{"Автор" | transloco }}</h2>

      <button class="registr" [routerLink]="'/registration-page'" type="submit">{{"СТАТИ АВТОРОМ" | transloco}}</button>
    </div>

  </div>



  

