<app-header></app-header>

  <hr>

    <div class="registration-form">
      <div class="left-panel">
      </div>
      <div class="right-panel">
        <div id="accessSupport">{{"Ваші слова підтримки проєкту" | transloco }}</div>
        <h2 id="proj">{{ project.title| transloco }}</h2>

        <div id="saveSucessfuly">{{"успішно збережено. Коментар відображатиметься на сторінці проєкта." | transloco }}</div>

       <form #myForm="ngForm">

            <button id="onMain" [routerLink]="'/'" type="submit">
                {{"НА ГОЛОВНУ" | transloco}}
             </button>

           <button id="see" type="submit">
            {{"ПЕРЕГЛЯНУТИ" | transloco }}
          </button>
        </form>
        
      </div>

    </div>
  



