<app-header></app-header>

  <hr>

  <div class="container">
    <img 
    *ngFor="let img of images; let i = index"
    [src]="activeIndex === i ? img.active : img.gray"
    alt="Image"
    class="image"
    [class.active]="activeIndex === i"
    (click)="onImageClick(img.link)">
  </div>

  <button class="fixed-button" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>


  <div class="policy-container">
    <p class="policy-label">{{"Правила користування порталом" | transloco}}</p>
    <h3 class="policy-title">{{"Правила користування порталом" | transloco}}</h3>
    <h4>{{"1. Загальні положення" | transloco}}</h4>
    <p class="policy-text">
      {{"Цей документ регулює правові відносини між користувачами (авторами проектів, благодійниками) та адміністрацією краудфандингової платформи SeedFlow. Використання Платформи передбачає автоматичну згоду користувачів з умовами цього документа. Адміністрація Платформи прагне створити безпечне та прозоре середовище для реалізації творчих, соціальних і комерційних ініціатив." | transloco}}
      <br>
      <br>
      {{"Користувачі несуть відповідальність за дотримання всіх чинних нормативних актів, які регулюють фінансові операції та електронні транзакції в Україні. Платформа працює відповідно до Закону України «Про електронну комерцію», Закону України «Про фінансові послуги та фінансові компанії» та інших нормативних актів, що регулюють сферу електронного фінансування та платіжних операцій." | transloco}}
    </p>
    <h4>{{"2. Умови використання Платформи" | transloco}}</h4>
    <p class="policy-text">
      <strong>{{"2.1. Обов’язки авторів проектів" | transloco}}</strong><br><br>
      {{"Автори проектів зобов’язані надавати точну, актуальну та достовірну інформацію про свої ініціативи відповідно до Закону України «Про інформацію»." | transloco}}<br><br>
      {{"Використання зібраних коштів повинно відповідати виключно заявленим цілям, що контролюється адміністрацією Платформи та відповідними регуляторними органами." | transloco}}<br><br>
      {{"Усі зміни у фінансуванні або цільовому використанні коштів повинні бути схвалені адміністрацією Платформи та прозоро комунікуватися благодійникам." | transloco}}<br><br>
      {{"Автори зобов’язані дотримуватися принципів прозорості, а також вести документацію щодо всіх витрат проекту відповідно до Закону України «Про бухгалтерський облік та фінансову звітність»." | transloco}}<br><br>
      <strong>{{"2.2. Права та обов’язки благодійників" | transloco}}</strong><br><br>
      {{"Благодійники надають кошти добровільно, погоджуючись з тим, що внески є добровільними і не гарантують отримання будь-яких винагород або послуг." | transloco}}<br><br>
      {{"Всі фінансові операції благодійників здійснюються відповідно до Закону України «Про благодійну діяльність та благодійні організації»." | transloco}}<br><br>
      {{"Благодійники мають право отримати детальний звіт про використання коштів, який надається авторами проектів у форматі, встановленому адміністрацією Платформи." | transloco}}<br><br>
      {{"Благодійники мають право вимагати повернення коштів у випадку невиконання проекту або виявлення шахрайських дій, що підлягає перевірці згідно з нормами Цивільного кодексу України." | transloco}}<br><br>
      <strong>{{"2.3. Повноваження адміністрації" | transloco}}</strong><br><br>
      {{"Адміністрація залишає за собою право перевіряти проекти на відповідність законодавству та внутрішнім політикам Платформи." | transloco}}<br><br>
      {{"У разі виявлення порушень або недотримання заявлених зобов’язань адміністрація може заблокувати проект, припинити фінансування та звернутися до компетентних органів згідно з Законом України «Про захист прав споживачів»." | transloco}}<br><br>
    </p>

    <h4>{{"3. Фінансові операції" | transloco}}</h4>
    <p class="policy-text">
        <strong>{{"3.1. Загальні положення" | transloco}}</strong><br><br>
        {{"Усі фінансові транзакції здійснюються відповідно до Закону України «Про платіжні послуги» та Закону України «Про фінансові послуги та фінансові компанії»." | transloco}}<br><br>
        {{"Платформа співпрацює виключно з ліцензованими фінансовими установами та платіжними системами, що відповідають вимогам законодавства України." | transloco}}<br><br>
        <strong>{{"3.2. Комісія" | transloco}}</strong><br><br>
        {{"Платформа має право утримувати комісію за надання послуг з обробки платежів та адміністративної підтримки проектів відповідно до Законодавства України про електронну комерцію." | transloco}}<br><br>
        {{"Відсоток комісії та умови її застосування зазначаються у відповідних угодах між авторами проектів і адміністрацією Платформи." | transloco}}<br><br>
        <strong>{{"3.3. Політика повернення коштів" | transloco}}</strong><br><br>
        {{"У разі скасування проекту або виявлення шахрайства кошти можуть бути повернуті благодійникам згідно з Цивільним кодексом України." | transloco}}<br><br>
        {{"Для повернення коштів благодійники повинні подати запит до адміністрації, яка здійснить перевірку відповідності запиту встановленим правилам Платформи." | transloco}}<br><br>
    </p>

    <h4>{{"4. Захист прав користувачів" | transloco}}</h4>
    <p class="policy-text">
        {{"Усі персональні дані користувачів обробляються згідно з Законом України «Про захист персональних даних»." | transloco}}<br><br>
        {{"Всі фінансові операції проходять багаторівневу перевірку та шифрування відповідно до Закону України «Про електронний документообіг»." | transloco}}<br><br>
    </p>

    <h4>{{"5. Юридична відповідальність" | transloco}}</h4>
    <p class="policy-text">
        {{"Користувачі несуть повну відповідальність за надану інформацію згідно з Кримінальним кодексом України." | transloco}}<br><br>
        {{"Адміністрація Платформи не несе відповідальності за реалізацію проектів, однак має право вживати заходів щодо недобросовісних авторів." | transloco}}<br><br>
    </p>

    <h4>{{"6. Заключні положення" | transloco}}</h4>
    <p class="policy-text">
        {{"Адміністрація залишає за собою право вносити зміни до цього документа відповідно до Закону України «Про електронні комунікації»." | transloco}}<br><br>
        {{"Будь-які зміни набувають чинності через 10 днів після офіційного опублікування на сайті Платформи." | transloco}}<br><br>
        {{"Використання Платформи після внесення змін означає автоматичну згоду користувачів з новими умовами." | transloco}}<br><br>
    </p>

</div>

<app-footer></app-footer>


