<app-header></app-header>

  <hr>

  <div class="registration-form">
    <div class="left-panel">
    </div>
    <div class="right-panel">
      <h2 id="proj">{{"Ваш запит успішно відправлено" | transloco }}</h2>
      <div id="fullname">{{"Чекайте на відповідь експерта" | transloco }}</div>

     <form #myForm="ngForm">

          <button id="onMain2" [routerLink]="'/'" type="submit">
              {{"НА ГОЛОВНУ" | transloco}}
           </button>
      </form>
      
    </div>

  </div>







 