
<app-header></app-header>

  <hr>

    <div class="registration-form">
      <div class="left-panel">
      </div>
      <div class="right-panel">
        <div id="accessSupport">{{"Ваш проєкт" | transloco }}</div>
        <h2 id="proj"> {{project.title}} </h2>

        <div id="saveSucessfuly">{{"Успішно відправлений на модерацію. Після того, як проєкт пройде валідацію нашим менеджером, його буде викладено в загальний доступ." | transloco }}</div>

        <div id="thanks">{{"Дякуємо, що обрали нашу платформу! З" | transloco }} <span style="color: black; font-family: 'Montserrat Alternates';">Seed Flow</span> {{"ваші ідеї стають реальністю." | transloco }}</div>

       <form #myForm="ngForm">

            <button id="onMain" [routerLink]="'/'" type="submit">
                {{"НА ГОЛОВНУ" | transloco}}
             </button>
        </form>
        
      </div>

    </div>
  




