<app-header></app-header>

<hr>

<div class="tabs-container">
    <div class="tabs">
      <button [routerLink]="'/root-panel-page'">{{"ПРОЄКТИ" | transloco}}</button>
      <button [routerLink]="'/root-accounts-page'">{{"АКАУНТИ" | transloco}}</button>
      <button [routerLink]="'/root-shop-tovars-page'">{{"ТОВАРИ МАГАЗИНУ" | transloco}}</button>
    </div>
</div>

<div class="profiles-container">
  <div class="profile-card" *ngFor="let profile of users">
    <!-- Новая иконка в углу -->
    <img src="assets/images/delete-icon.png" (click)="deleteUser(profile.id)" alt="icon" class="corner-icon" />

    <!-- Основное фото -->
    <img [src]="profile?.photo || 'assets/images/userWithoutPhoto.png'"  alt="Profile photo" class="profile-photo" />

    <div class="profile-info">
      <h3>{{ profile.name }}</h3>
      <p><strong>{{"Роль" | transloco}}:</strong> {{ profile.rule | transloco }}</p>
      <p><strong>Email:</strong> {{ profile.email | transloco }}</p>
      <p><strong>{{"Дата створення" | transloco}}:</strong> {{ profile.date | transloco }}</p>
    </div>
  </div>
</div>

