<app-header></app-header>

  <hr>



  <div class="investor-container">
    <div class="investor-item">
      <img src="assets/images/profilePhoto.png" alt="Investor" class="investor-image">
      <div class="investor-details">
        <p class="investor-name">{{"ІМ'Я ПРІЗВИЩЕ" | transloco}}</p>
        <p class="investor-text">{{"На сайті з 2 лютого 2025" | transloco}}</p>
        <!-- Добавляем желтую линию -->
        <div class="yellow-line"></div>
        <p class="investor-description">{{"Мене звуть Настя, я захоплююся творчістю і просто радію життю. Дуже люблю допомагати людям і часто фінансую цікаві стартапи." | transloco}}</p>
        <button class="investor-button">{{"Редагувати профіль" | transloco}}</button> <!-- Кнопка под фото -->
        <div class="investor-role-container">
            <p class="investor-role">{{"Автор" | transloco}}</p>
        </div>

        <div class="additional-image">
            <img src="assets/images/levelProfile.png" alt="Investor" class="extra-image">
        </div>

      </div>
    </div>
  </div>

<!-- Текст "ВІТРИНА ДОСЯГНЕНЬ" -->
<div class="vitrina">
    <h2
      style="
        position: relative;
        top: 40px;
        left: 75%;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 30px;
        width: 500px;
        color: #247a60;
      "
    >
      {{ "ВІТРИНА ДОСЯГНЕНЬ" | transloco}}
    </h2>
</div>

<div class="photos-container">
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 1" class="photo-image">
      <p class="photo-title">{{"Першопрохідник" | transloco}}</p>
      <p class="photo-description">{{"Зареєструватись на сайті" | transloco}}</p>
    </div>
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 2" class="photo-image">
      <p class="photo-title">{{"Перші кроки" | transloco}}</p>
      <p class="photo-description">{{"Лайкнути перший проєкт" | transloco}}</p>
    </div>
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 3" class="photo-image">
      <p class="photo-title">{{"Перше вкладення" | transloco}}</p>
      <p class="photo-description">{{"Підтримати перший проєкт" | transloco}}</p>
    </div>
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 4" class="photo-image">
      <p class="photo-title">{{"Еко-друг" | transloco}}</p>
      <p class="photo-description">{{"Підтримати 3 екологічні проєкти" | transloco}}</p>
    </div>
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 5" class="photo-image">
      <p class="photo-title">{{"Марафонівець" | transloco}}</p>
      <p class="photo-description">{{"Підтримувати проєкти 10 днів поспіль" | transloco}}</p>
    </div>
    <div class="photo-item">
      <img src="assets/images/achievement1.png" alt="Photo 6" class="photo-image">
      <p class="photo-title">{{"Коментатор" | transloco}}</p>
      <p class="photo-description">{{"Залишити 5 коментарів" | transloco}}</p>
    </div>
  </div>

  <a href="#" class="view-all-link">{{"Дивитись усі" | transloco}}</a>
  
  <div class="projects2">
    <h2
      style="
        position: relative;
        top: 40px;
        left: 65%;
        font-family: 'Montserrat';
        font-weight: 600;
        width: 500px;
        color: #247a60;
        font-size: 23px;
        width: 685px;
      "
    >
      {{ "ЦЕЙ КОРИСТУВАЧ ОПУБЛІКУВАВ" | transloco}}<strong style="font-size: 32px; position: relative; left: 5px;">{{"2 ПРОЄКТИ" | transloco}}</strong>
    </h2>
</div>


<div class="projects-container2">
    <div class="projects-grid">
      <div
        class="project-card"
        *ngFor="let project of projects3; let i = index"
        [ngClass]="'project-card-' + i"
      >
        <div class="icon-container"></div>
  
        <div class="project-overlay">
  
          <div class="project-title">{{ project.title | transloco}}</div>
  
          <div class="project-extra">
            <div class="progress-bar2">
              <div class="progress2" [style.width]="project.progress + '%'"></div>
            </div>
            <p
              style="
                position: relative;
                font-size: 16px;
                font-weight: 400;
                left: -212px;
                top: 70px;
                font-family: 'Montserrat';
              "
            >
              {{ project.amountRaised }} {{ "грн" | transloco }}
            </p>
            <p
              style="
                position: relative;
                font-size: 16px;
                font-weight: 600;
                left: -60px;
                top: 35px;
                font-family: 'Montserrat';
                color: #645740;
              "
            >
              {{ project.goal }} {{ "грн" | transloco }}
            </p>
  
            <div style="position: relative; top: 70px; left: -225px">
              <img src="assets/images/people.png" />
            </div>
            <span
              style="
                position: relative;
                top: 75px;
                left: -225px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >25</span
            >
  
            <div style="position: relative; top: 25px; left: -134px">
              <img src="assets/images/comments.png" />
            </div>
            <span
              style="
                position: relative;
                top: 30px;
                left: -133px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >36</span
            >
  
            <div style="position: relative; top: -20px; margin-left: -80px">
              <img src="assets/images/money.png" />
            </div>
            <span
              style="
                position: relative;
                top: -15px;
                left: -35px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >27%</span
            >
  
            <div>
              <img
                src="assets/images/socialMedia.png"
                style="
                  position: relative;
                  top: -183px;
                  margin-right: -490px;
                  height: 25px;
                  cursor: pointer;
                "
              />
            </div>
  
            <div>
              <img
                class="like-icon"
                [src]="
                  likedProjects[i]
                    ? 'assets/images/like.png'
                    : 'assets/images/likeRed.png'
                "
                (click)="toggleLike(i)"
                style="
                  width: 28px;
                  height: 25px;
                  position: relative;
                  right: -245px;
                  top: -175px;
                  cursor: pointer;
                "
              />
            </div>
  
            <button class="support-button">{{ "ПІДТРИМАТИ" | transloco }}</button>
            
            <div class="project-extra">
              <p
                style="
                  position: relative;
                  top: -115px;
                  left: -5px;
                  font-family: 'Montserrat';
                  font-weight: 400;
                  font-size: 15px;
                  width: 500px;
                  text-align: left;
                "
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aut
                consequatur blanditiis incidunt doloremque nesciunt. Consectetur
                cum quidem fugit nihil sequi, dignissimos eaque?
              </p>
            </div>
          </div>
        </div>
  
        <div>
          <img
            src="assets/images/LeftUpAngle.png"
            style="
              width: 119px;
              height: 60px;
              position: relative;
              right: 217px;
              top: 40px;
              z-index: 10;
            "
          />
        </div>
        <div>
          <img
            src="assets/images/rocket.png"
            style="
              width: 35px;
              height: 35px;
              position: relative;
              right: 210px;
              top: -10px;
              z-index: 10;
            "
          />
        </div>
    
        <img
          [src]="project.image"
          alt="{{ project.title }}"
          class="project-image"
        />
      </div>
    </div>
  
  </div>
  <div id="targetSection2" style="position: relative; top: -100px"></div>


  <div class="partners">
    <h2
      style="
        position: relative;
        left: -30.2%;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 23px;
        top: -70px;
        width: 730px;
      "
    >
      {{ "ЦЬОМУ КОРИСТУВАЧЕВІ СПОДОБАЛОСЬ" | transloco}} <strong style="font-size: 32px; position: relative; left: 5px;">{{"5 ПРОЄКТІВ" | transloco}}</strong>
    </h2>
  </div>




<div class="projects-container">
  <div class="projects-grid">
    <div
      class="project-card"
      *ngFor="let project of projects2; let i = index"
      [ngClass]="'project-card-' + i"
    >
      <div class="icon-container"></div>

      <div class="project-overlay">

        <div class="project-title">{{ project.title | transloco}}</div>

        <div class="project-extra">
          <div class="progress-bar2">
            <div class="progress2" [style.width]="project.progress + '%'"></div>
          </div>
          <p
            style="
              position: relative;
              font-size: 16px;
              font-weight: 400;
              left: -212px;
              top: 70px;
              font-family: 'Montserrat';
            "
          >
            {{ project.amountRaised }} {{ "грн" | transloco }}
          </p>
          <p
            style="
              position: relative;
              font-size: 16px;
              font-weight: 600;
              left: -60px;
              top: 35px;
              font-family: 'Montserrat';
              color: #645740;
            "
          >
            {{ project.goal }} {{ "грн" | transloco }}
          </p>

          <div style="position: relative; top: 70px; left: -225px">
            <img src="assets/images/people.png" />
          </div>
          <span
            style="
              position: relative;
              top: 75px;
              left: -225px;
              font-size: 17px;
              font-weight: 400;
              font-family: 'Montserrat';
            "
            >25</span
          >

          <div style="position: relative; top: 25px; left: -134px">
            <img src="assets/images/comments.png" />
          </div>
          <span
            style="
              position: relative;
              top: 30px;
              left: -133px;
              font-size: 17px;
              font-weight: 400;
              font-family: 'Montserrat';
            "
            >36</span
          >

          <div style="position: relative; top: -20px; margin-left: -80px">
            <img src="assets/images/money.png" />
          </div>
          <span
            style="
              position: relative;
              top: -15px;
              left: -35px;
              font-size: 17px;
              font-weight: 400;
              font-family: 'Montserrat';
            "
            >27%</span
          >

          <div>
            <img
              src="assets/images/socialMedia.png"
              style="
                position: relative;
                top: -183px;
                margin-right: -490px;
                height: 25px;
                cursor: pointer;
              "
            />
          </div>

          <div>
            <img
              class="like-icon"
              [src]="
                likedProjects[i]
                  ? 'assets/images/like.png'
                  : 'assets/images/likeRed.png'
              "
              (click)="toggleLike(i)"
              style="
                width: 28px;
                height: 25px;
                position: relative;
                right: -245px;
                top: -175px;
                cursor: pointer;
              "
            />
          </div>

          <button class="support-button">{{ "ПІДТРИМАТИ" | transloco }}</button>
          
          <div class="project-extra">
            <p
              style="
                position: relative;
                top: -115px;
                left: -5px;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 15px;
                width: 500px;
                text-align: left;
              "
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aut
              consequatur blanditiis incidunt doloremque nesciunt. Consectetur
              cum quidem fugit nihil sequi, dignissimos eaque?
            </p>
          </div>
        </div>
      </div>

      <div>
        <img
          src="assets/images/LeftUpAngle.png"
          style="
            width: 119px;
            height: 60px;
            position: relative;
            right: 217px;
            top: 40px;
            z-index: 10;
          "
        />
      </div>
      <div>
        <img
          src="assets/images/rocket.png"
          style="
            width: 35px;
            height: 35px;
            position: relative;
            right: 210px;
            top: -10px;
            z-index: 10;
          "
        />
      </div>
  
      <img
        [src]="project.image"
        alt="{{ project.title }}"
        class="project-image"
      />
    </div>
  </div>

</div>
<div id="targetSection2" style="position: relative; top: -100px"></div>


<div class="statistika">
    <h2
      style="
        position: relative;
        top: 40px;
        left: 65%;
        font-family: 'Montserrat';
        font-weight: 600;
        width: 500px;
        color: #247a60;
        font-size: 23px;
        width: 685px;
      "
    >
      {{ "СТАТИСТИКА ТРАНЗАКЦІЙ ЗА" | transloco}}<strong style="font-size: 32px; position: relative; left: 5px;">{{"2025 РІК" | transloco}}</strong>
    </h2>
</div>

<div class="chart-container">
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [yScaleMin]="5"
    [yScaleMax]="125"
    [yAxisTickFormatting]="customYAxisFormat"
    [yAxisTicks]="yAxisTicks"
    [showGridLines]="false" 
    [xAxisTickFormatting]="customXAxisFormat" 
    class="chart">
  </ngx-charts-bar-vertical>
  </div>
  
  <div class="tovars3">
    <h2
      style="
        position: relative;
        left: -26.8%;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 23px;
        top: -70px;
        width: 865px;
      "
    >
      {{ "ЦЬОМУ КОРИСТУВАЧЕВІ СПОДОБАЛОСЬ" | transloco}} <strong style="font-size: 32px;position: relative; margin-left: 5px;">{{"3 ТОВАРІВ" | transloco}}</strong> {{"У МАГАЗИНІ" | transloco}}
    </h2>
  </div>

  <div class="image-row">
    <img src="assets/images/tovarMagazin.png" alt="Image 1" class="image">
    <img src="assets/images/tovarMagazin.png" alt="Image 2" class="image">
    <img src="assets/images/tovarMagazin.png" alt="Image 3" class="image">
  </div>

  <div class="statistika">
    <h2
      style="
        position: relative;
        top: 40px;
        left: 65%;
        font-family: 'Montserrat';
        font-weight: 600;
        width: 500px;
        color: #247a60;
        font-size: 23px;
        width: 685px;
      "
    >
      {{ "СТАТИСТИКА ЗБОРІВ ЗА" | transloco}}<strong style="font-size: 32px; position: relative; left: 5px;">{{"2025 РІК" | transloco}}</strong>
    </h2>
</div>
  
  <div class="chart-container">
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [yScaleMin]="5"
    [yScaleMax]="125"
    [yAxisTickFormatting]="customYAxisFormat"
    [yAxisTicks]="yAxisTicks"
    [showGridLines]="false" 
    [xAxisTickFormatting]="customXAxisFormat" 
    class="chart">
  </ngx-charts-bar-vertical>
  </div>

    <div class="projects2">
    <h2
      style="
        position: relative;
        top: 40px;
        left: 65%;
        font-family: 'Montserrat';
        font-weight: 600;
        width: 500px;
        color: #247a60;
        font-size: 23px;
        width: 685px;
      "
    >
      {{ "ЦЕЙ КОРИСТУВАЧ ПІДТРИМАВ" | transloco}}<strong style="font-size: 32px; position: relative; left: 8px;">{{"3 ПРОЄКТИ" | transloco}}</strong>
    </h2>
</div>


<div class="projects-container2">
    <div class="projects-grid">
      <div
        class="project-card"
        *ngFor="let project of projects4; let i = index"
        [ngClass]="'project-card-' + i"
      >
        <div class="icon-container"></div>
  
        <div class="project-overlay">
  
          <div class="project-title">{{ project.title | transloco}}</div>
  
          <div class="project-extra">
            <div class="progress-bar2">
              <div class="progress2" [style.width]="project.progress + '%'"></div>
            </div>
            <p
              style="
                position: relative;
                font-size: 16px;
                font-weight: 400;
                left: -212px;
                top: 70px;
                font-family: 'Montserrat';
              "
            >
              {{ project.amountRaised }} {{ "грн" | transloco }}
            </p>
            <p
              style="
                position: relative;
                font-size: 16px;
                font-weight: 600;
                left: -60px;
                top: 35px;
                font-family: 'Montserrat';
                color: #645740;
              "
            >
              {{ project.goal }} {{ "грн" | transloco }}
            </p>
  
            <div style="position: relative; top: 70px; left: -225px">
              <img src="assets/images/people.png" />
            </div>
            <span
              style="
                position: relative;
                top: 75px;
                left: -225px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >25</span
            >
  
            <div style="position: relative; top: 25px; left: -134px">
              <img src="assets/images/comments.png" />
            </div>
            <span
              style="
                position: relative;
                top: 30px;
                left: -133px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >36</span
            >
  
            <div style="position: relative; top: -20px; margin-left: -80px">
              <img src="assets/images/money.png" />
            </div>
            <span
              style="
                position: relative;
                top: -15px;
                left: -35px;
                font-size: 17px;
                font-weight: 400;
                font-family: 'Montserrat';
              "
              >27%</span
            >
  
            <div>
              <img
                src="assets/images/socialMedia.png"
                style="
                  position: relative;
                  top: -183px;
                  margin-right: -490px;
                  height: 25px;
                  cursor: pointer;
                "
              />
            </div>
  
            <div>
              <img
                class="like-icon"
                [src]="
                  likedProjects[i]
                    ? 'assets/images/like.png'
                    : 'assets/images/likeRed.png'
                "
                (click)="toggleLike(i)"
                style="
                  width: 28px;
                  height: 25px;
                  position: relative;
                  right: -245px;
                  top: -175px;
                  cursor: pointer;
                "
              />
            </div>
  
            <button class="support-button">{{ "ПІДТРИМАТИ" | transloco }}</button>
            
            <div class="project-extra">
              <p
                style="
                  position: relative;
                  top: -115px;
                  left: -5px;
                  font-family: 'Montserrat';
                  font-weight: 400;
                  font-size: 15px;
                  width: 500px;
                  text-align: left;
                "
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aut
                consequatur blanditiis incidunt doloremque nesciunt. Consectetur
                cum quidem fugit nihil sequi, dignissimos eaque?
              </p>
            </div>
          </div>
        </div>
  
        <div>
          <img
            src="assets/images/LeftUpAngle.png"
            style="
              width: 119px;
              height: 60px;
              position: relative;
              right: 217px;
              top: 40px;
              z-index: 10;
            "
          />
        </div>
        <div>
          <img
            src="assets/images/rocket.png"
            style="
              width: 35px;
              height: 35px;
              position: relative;
              right: 210px;
              top: -10px;
              z-index: 10;
            "
          />
        </div>
    
        <img
          [src]="project.image"
          alt="{{ project.title }}"
          class="project-image"
        />
      </div>
    </div>
  
  </div>
  <div id="targetSection2" style="position: relative; top: -100px"></div>
  

  <div class="lastComment">
    <h2
      style="
        position: relative;
        left: -35%;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 23px;
        top: -70px;
        width: 685px;
      "
    >
      {{ "ОСТАННІ" | transloco}} <strong style="font-size: 32px;">{{"КОМЕНТАРІ" | transloco}}</strong>
      {{"КОРИСТУВАЧА" | transloco}}
    </h2>
  </div>

  <div class="container-with-header">
    <div class="header-text">{{"Залишен 15 лютого о 14:51" | transloco}}</div>  <!-- Текст сверху -->
    <div class="header-text2">{{"ПЕРЕЙТИ ДО ПРОЄКТУ" | transloco}}</div>  <!-- Текст сверху -->
    <p class="bottom-right-text">{{"Відповісти" | transloco}}</p>
    <p class="bottom-right-text2">{{"Поскаржитись" | transloco}}</p>
  <div class="container">
    <div class="image-container">
      <img src="assets/images/investor1.png" alt="User Image" class="profile-image">
    </div>
    <div class="text-container">
      <div class="name">{{"Анна Лісовська" | transloco}}</div>
      <div class="comment">{{"«Дуже важливо підтримувати такі ініціативи! Ці тварини заслуговують на безпечне майбутнє. Дякую команді за вашу роботу!»" | transloco }}</div>
    </div>
        <div class="reactions">
          <div class="thumbs">
            <i class="fa-regular fa-thumbs-up"></i>
            &nbsp;
            
            <i class="fa-regular fa-thumbs-down"></i>
          </div>
          <i class="fa-regular fa-heart"></i>
        </div>
        <span class="thumbs-down-count">90</span>
  </div>
</div>


<div class="container-with-header2">
  <div class="header-text3">{{"Залишен 14 лютого о 16:05" | transloco}}</div>  <!-- Текст сверху -->
  <div class="header-text2">{{"ПЕРЕЙТИ ДО ПРОЄКТУ" | transloco}}</div>  <!-- Текст сверху -->
  <p class="bottom-right-text">{{"Відповісти" | transloco}}</p>
  <p class="bottom-right-text2">{{"Поскаржитись" | transloco}}</p>
<div class="container">
  <div class="image-container">
    <img src="assets/images/investor1.png" alt="User Image" class="profile-image">
  </div>
  <div class="text-container">
    <div class="name">{{"Анна Лісовська" | transloco}}</div>
    <div class="comment">{{"«Обожнюю підтримувати локальні бізнеси! Це місце виглядає дуже атмосферно, не можу дочекатися відкриття! Обов’язково завітаю ☕»" | transloco}}</div>
  </div>
      <div class="reactions">
        <div class="thumbs">
          <i class="fa-regular fa-thumbs-up"></i>
          &nbsp;
          
          <i class="fa-regular fa-thumbs-down"></i>
        </div>
        <i class="fa-regular fa-heart"></i>
      </div>
      <span class="thumbs-down-count">90</span>
</div>
</div>

<div class="container-with-header2">
  <div class="header-text">{{"Залишен 14 лютого о 9:16" | transloco}}</div>  <!-- Текст сверху -->
  <div class="header-text2">{{"ПЕРЕЙТИ ДО ПРОЄКТУ" | transloco}}</div>  <!-- Текст сверху -->
  <p class="bottom-right-text">{{"Відповісти" | transloco}}</p>
  <p class="bottom-right-text2">{{"Поскаржитись" | transloco}}</p>
<div class="container">
  <div class="image-container">
    <img src="assets/images/investor1.png" alt="User Image" class="profile-image">
  </div>
  <div class="text-container">
    <div class="name">{{"Анна Лісовська" | transloco}}</div>
    <div class="comment">{{"«Ця трагедія торкнулася багатьох людей, і важливо, щоб постраждалі відчували нашу підтримку. Вода може зруйнувати будинки, але не людяність та взаємодопомогу. Дякую всім, хто долучається до цієї ініціативи – разом ми допоможемо сім’ям відновити їхнє життя та повернутися до нормальності. Кожен внесок має значення!»" | transloco}}</div>
  </div>
      <div class="reactions">
        <div class="thumbs">
          <i class="fa-regular fa-thumbs-up"></i>
          &nbsp;
          
          <i class="fa-regular fa-thumbs-down"></i>
        </div>
        <i class="fa-regular fa-heart"></i>
      </div>
      <span class="thumbs-down-count">90</span>
</div>
</div>

<a href="#" class="view-all-link">{{"Дивитись усі" | transloco}}</a>

<app-footer></app-footer>


